fastapi~=0.70.0
uvicorn~=0.15.0
pydantic~=1.8.2
ChatterBot~=1.0.4
starlette~=0.16.0
motor~=2.5.1
idna~=3.3
pytest~=6.2.5
h11~=0.12.0
pip~=21.1.2
pymongo~=3.12.3
nltk~=3.6.5
click~=8.0.3
tqdm~=4.62.3
regex~=2021.11.10
pyparsing~=3.0.6
Pint~=0.18
toml~=0.10.2
PyYAML~=3.13
anyio~=3.4.0
sniffio~=1.2.0
six~=1.16.0
joblib~=1.1.0
asgiref~=3.4.1
python-dateutil~=2.7.5
SQLAlchemy~=1.2.19
mathparse~=0.1.2
setuptools~=57.0.0
functions~=0.7.0
attrs~=21.2.0